.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.home-card {
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  background: #1b1b1b;
  box-shadow: 0 0 30px rgba(111, 207, 151, 0.25);
}

.home-card h1 {
  background: linear-gradient(
    90deg,
    #f2c94c,
    #6fcf97
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 42px;
}

.home-card h2 {
  color: white;
}

.home-card p {
  color: #ccc;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 25px;
}

.menu-buttons button,
.logout-btn {
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn {
  margin-top: 20px;
}